@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  width: 100%;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #f2f2f2;
  border-bottom: 1px solid black;
}

h1 {
  font-weight: normal;
  padding: 10px 40px;
  font-size: 26px;
}

h1 a {
  text-decoration: none;
  color: black;
}

h1 a:hover {
  text-decoration: none;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.list {
  padding: 10px 40px;
  font-size: 20px;
}

li a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/* INFO */
.info-all {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.info-text {
  text-align: center;
  margin: 20px 0px;
  flex-direction: column;
  width: 50%;
}

.info-head {
  font-size: 36px;
  margin-bottom: 0;
}

.info-head-sub {
  font-size: 28px;
  padding-bottom: 20px;
}

.btn {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

.btn a {
  background-color: #1434A4;
  padding: 15px 10px;
  border-radius: 3px;
  color: white;
  text-decoration: none;
}

.btn a:hover {
  background-color: white;
  border: 1px solid #1434A4;
  color: black;
  transition: 0.4s;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.img img {
  border: 2px solid black;
  border-radius: 200px;
}

/* ABOUT */
.about {
  background-color: rgba(20, 52, 164);
  color: white;
  min-height: 250px;
}

.about h2 {
  text-align: center;
  padding: 30px;
  font-size: 36px;
  text-decoration: underline;
}

.about p {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 10px 200px;
  font-size: 20px;
}

/* LEARNED */
.learned {
  height: 300px;
}

.learned h2 {
  font-size: 36px;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  padding: 30px;
}

.container li {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.all-cards {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.all-cards h3 {
  text-decoration: underline;
  text-align: center;
  padding: 10px 0px;
}

.card-html {
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  background-color: white;
  border-radius: 10px;
}

.card-css {
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  background-color: white;
  border-radius: 10px;
}

.card-js {
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  background-color: white;
  border-radius: 10px;
}

.card-html:hover, .card-css:hover, .card-js:hover {
  box-shadow: 0 8px 16px 0 rgba(20, 52, 164, 0.9);
}

.container {
  padding: 2px 16px;
}

/* UPDATES */
.updates {
  background-color: #e0e0e0af;
}

table {
  border-bottom: 1px solid gray;
  border-collapse: collapse;
  width: 34%;
}

th {
  padding: 15px;
  border-bottom: 1px solid gray;
  text-decoration: underline;
}

td {
  padding: 15px;
  border-bottom: 1px solid gray;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #E0E0E0;
}

/* CONTACT */
caption {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

.fa-brands {
  font-size: 100px;
  text-decoration: none;
  color: black;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.social h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 36px;
  padding: 20px;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1434A4;
  color: white;
  height: 75px;
}
